<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.shohibmedia.respon" 
    versionCode = "10"
    version     = "1.2.5" >
 
  <!-- versionCode is optional and Android only -->
 
  <name>Respon 16.230.0022</name>
 
  <description>
     Respon mobile programmming
  </description>
 
  <author href="https://shohib-media.blogspot.com" email="shohibulhary@gmail.com">
      Shohib Media
  </author>
 
</widget>